
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";

/* Your styles here */
body{
	margin: 0px;
}
#top-bar{
	width: 100%;
	height: 10%;
	background-color: #122c4b;
	top: 0;
	color: rgb(239, 239, 239);
}

#player{
	position: absolute;
	bottom: 0;
	background-color: #122c4b;
	height: 20%;
	width: 100%;
}
